* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Gilroy Medium';
    src: url('fonts/Gilroy-Medium.eot');
    src: url('fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Medium.woff') format('woff'),
        url('fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Semibold';
    src: url('fonts/Gilroy-SemiBold.eot');
    src: url('fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-SemiBold.woff') format('woff'),
        url('fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('fonts/Gilroy-Bold.eot');
    src: url('fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Bold.woff') format('woff'),
        url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #fff;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    padding: 40px 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo_text {
    font-family: 'Gilroy Bold';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.logo_Be {
    color: #F25822;
}

nav {
    display: flex;
    align-items: center;
    gap: 35px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.menu_link {
    font-family: 'Gilroy Semibold';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.menu_home {
    font-family: 'Gilroy Semibold';
    color: #F25822;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main {
    padding-top: 44px;
    padding-bottom: 161px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 41px;
}

.title {
    font-family: 'Gilroy Bold';
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 522px;
}

.text_main {
    font-family: 'Gilroy Medium';
    margin: 17px 0px 17px 0px;
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
}

.action {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 36px;
}

button {
    font-family: 'Gilroy Bold';
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 15px 35px;
    border: none;
    cursor: pointer;
}

.watch {
    color: #AAA;
    background: #fff;
    box-shadow: none;
}

.footer {
    padding-top: 97px;
    padding-bottom: 97px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}