* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFF;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu_logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 41px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-top: 26px;
    margin-bottom: 20px;
}

.logo {
    width: 44px;
}

.search_logo {
    width: 26px;
}

.menu_link {
    width: 29px;
}

.top {
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 130px;
}

.img_top {
    max-width: 400px;
}

.top_content {
    display: flex;
    gap: 16px;
    width: 405px;
    align-items: stretch;
    justify-content: center;
}

.top_line {
    width: 12px;
    background-color: #F16D7F;
}

.top_title {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.top_h2 {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top_h2_pink {
    color: #F16D7F;
}

.group {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.group_item {
    padding-top: 105px;
    padding-bottom: 105px;
}

.women {

    background:
        linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)),
        url(img/group1.png);
    background-size: 360px;
}

.men {
    background:
        linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)),
        url(img/group2.png);
    background-size: 360px;
}

.kids {
    background:
        linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)),
        url(img/group3.png);
    background-size: 360px;
}

.accesories {
    background:
        linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)),
        url(img/group4.png);
    background-size: 1140px;
}

.big {
    grid-column: span 3;
    padding-top: 65px;
    padding-bottom: 65px;
}

.group_text {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.group_title {
    color: #F16D7F;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fetur {
    margin-top: 96px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fetur_title {
    color: #222;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fetur_text {
    margin-top: 6px;
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fetur_grid {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.fetur_item {
    width: 360px;
    background-color: #F8F8F8;
}

.img_item {
    width: 360px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7E4E2;
}

.item_content {
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: 16px;
    padding: 24px 16px;
}

.item_title {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item_text {
    color: #5D5D5D;
    width: 315px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.item_cost {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    margin-top: 48px;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    cursor: pointer;

}

.button_text {
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
    }

    .header {
        padding-left: 32px;
        padding-right: 32px;
    }

    nav {
        gap: 25px;
        margin-top: 27px;
        margin-bottom: 18px;
    }

    .link_logo {
        width: 32px;
    }

    .sale {
        margin-left: 17px;
    }

    .top {
        justify-items: center;
        gap: 60px;
    }

    .img_top {
        width: 192px;
    }

    .top_content {
        width: 311px;
    }

    .top_title {
        font-size: 44px;
    }

    .top_h2 {
        font-size: 24px;
    }

    .group {
        grid-template-columns: repeat(3, 232px);
        gap: 20px;
    }

    .group_item {
        padding-top: 59px;
        padding-bottom: 58px;
    }

    .women {
        background-size: 232px;
    }

    .men {
        background-size: 232px;
    }

    .kids {
        background-size: 232px;
    }

    .accesories {
        background-size: 736px;
    }

    .big {
        padding-top: 33px;
        padding-bottom: 33px;
    }

    .fetur {
        margin-top: 110px;
    }

    .fetur_text {
        margin-top: 3px;
    }

    .fetur_grid {
        margin-top: 73px;
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }


}