* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFF;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu_logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 41px;
}

.menu_sale {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-top: 26px;
    margin-bottom: 20px;
}

.logo {
    width: 44px;
}

.search_logo {
    width: 26px;
}

.menu_link {
    width: 29px;
}

.hide {
    position: relative;
}

.hide:hover .menu_nav {
    visibility: visible;
}

.menu_nav {
    position: absolute;
    width: 232px;
    background-color: #FFF;
    padding: 32px 0 32px 32px;
    top: 23px;
    visibility: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menu_title {
    padding-bottom: 4px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu_subtitle {
    padding-top: 20px;
    color: #F16D7F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu_section {
    list-style-type: none;
}

.menu_list {
    padding-top: 12px;
    padding-left: 22px;
}

.menu_nav_link {
    color: #6F6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu_nav_link:hover {
    color: #575454;
}

.top {
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 130px;
}

.img_top {
    max-width: 400px;
}

.top_content {
    display: flex;
    gap: 16px;
    width: 405px;
    align-items: stretch;
    justify-content: center;
}

.top_line {
    width: 12px;
    background-color: #F16D7F;
}

.text_flex {
    word-wrap: break-word;
}

.top_title {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.top_h2 {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top_h2_pink {
    color: #F16D7F;
}

.group {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.group_item {
    padding-top: 105px;
    padding-bottom: 105px;
}


.women {

    background:
        linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)),
        url(img/group1.png);
    background-size: 360px;
}

.men {
    background:
        linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)),
        url(img/group2.png);
    background-size: 360px;
}

.kids {
    background:
        linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)),
        url(img/group3.png);
    background-size: 360px;
}

.accesories {
    background:
        linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)),
        url(img/group4.png);
    background-size: 1140px;
}

.big {
    grid-column: span 3;
    padding-top: 65px;
    padding-bottom: 65px;
}

.group_text {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.group_title {
    color: #F16D7F;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fetur {
    margin-top: 96px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fetur_title {
    color: #222;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fetur_text {
    margin-top: 6px;
    text-align: center;
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fetur_grid {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.fetur_item {
    display: block;
    transition: 0.5s linear;
    width: 360px;
    position: relative;
}

.fetur_item:hover .item_cart {
    visibility: visible;
}

.item_cart {
    padding: 185px 110px 186px;
    background-color: #3A3838;
    position: absolute;
    filter: opacity(80%);
    top: 0;
    visibility: hidden;
}

.cart_product {
    display: flex;
    fill: white;
    color: white;
    gap: 11px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    padding: 11px 13px 9px 13px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.img_item {
    width: 360px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7E4E2;
}

.item_content {
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: 16px;
    padding: 24px 16px;
}

.item_title {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item_text {
    color: #5D5D5D;
    width: 315px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.item_cost {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    margin-top: 48px;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);

}

.button_text {
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button_text:hover {
    color: #FFF;
}

.button:hover {
    background-color: #F16D7F;
}

.section_benefit {
    margin-top: 95px;
    display: flex;
    gap: 30px;
    background-color: #222224;
    padding-top: 103px;
    padding-bottom: 104px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.benefit_item {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

.benefit_title {
    margin-top: 9px;
    color: #FBFBFB;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.benefit_text {
    width: 360px;
    color: #FBFBFB;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.section_subscribe {
    display: flex;
    flex-wrap: wrap;
    padding-top: 97px;
    padding-bottom: 150px;
    gap: 220px;
    justify-content: center;
    align-items: center;
}

.subscribe_back {
    background:
        linear-gradient(rgba(244, 244, 244, 0.70), rgba(244, 244, 244, 0.70)),
        url(img/background_subscribe.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.subscribe_intersect {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe_intersect_img {
    width: 96px;
}

.subscribe_intersect_text {
    max-width: 360px;
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe_subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe_title {
    color: #222224;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}

.subscribe_subtitle {
    max-width: 557px;
    color: #222224;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.subscribe_label {
    margin-top: 32px;
    display: flex;
}

.subscribe_input {
    width: 256px;
    height: 50px;
    border: none;
    border-radius: 30px 0 0 30px;
    color: #222224;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #E1E1E1;
    padding-left: 22px;
}

.subscribe_btn {
    width: 100px;
    height: 50px;
    background-color: #F16D7F;
    border: none;
    border-radius: 0 30px 30px 0;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe_btn:hover {
    background-color: #E05C6E;
}

.footer {
    display: flex;
    background-color: #222224;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
}

.footer_c {
    color: #FBFBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_nav {
    display: flex;
    gap: 7px;
}

.footer_link {
    display: flex;
    background-color: #FFF;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    fill: black;
}

.footer_link:hover {
    background-color: #F16D7F;
    fill: white;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
    }

    .header {
        padding-left: 32px;
        padding-right: 32px;
    }

    .menu_sale {
        gap: 25px;
        margin-top: 27px;
        margin-bottom: 18px;
    }

    .link_logo {
        width: 32px;
    }

    .sale {
        margin-left: 17px;
    }

    .menu_nav {
        right: 0;
    }

    .top {
        justify-items: center;
        gap: 60px;
    }

    .img_top {
        width: 192px;
    }

    .top_content {
        width: 311px;
    }

    .top_title {
        font-size: 44px;
    }

    .top_h2 {
        font-size: 24px;
    }

    .group {
        grid-template-columns: repeat(3, 232px);
        gap: 20px;
    }

    .group_item {
        padding-top: 59px;
        padding-bottom: 58px;
    }

    .women {
        background-size: 232px;
    }

    .men {
        background-size: 232px;
    }

    .kids {
        background-size: 232px;
    }

    .accesories {
        background-size: 736px;
    }

    .big {
        padding-top: 33px;
        padding-bottom: 33px;
    }

    .fetur {
        margin-top: 110px;
    }

    .fetur_text {
        margin-top: 3px;
    }

    .fetur_grid {
        margin-top: 73px;
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }

    .section_benefit {
        margin-top: 65px;
        gap: 48px;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .section_subscribe {
        padding-top: 64px;
        padding-bottom: 140px;
        gap: 48px;
    }

    .subscribe_back {
        background-position-x: 30%;
    }

    .footer {
        padding: 24px 32px;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .menu_sale {
        gap: 0;
    }

    .mob_none {
        display: none;
    }

    .top {
        display: flex;
        justify-content: center;
        padding: 149px 0px;
    }

    .top_title {
        font-size: 38px;
    }

    .top_h2 {
        font-size: 20px;
    }

    .group {
        margin-top: 64px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }

    .group_item {
        padding-top: 98px;
        padding-bottom: 99px;
        width: 343px;
        background-position: center;
    }

    .women,
    .men,
    .kids {
        background-size: 343px;
    }

    .big {
        padding-top: 30px;
        padding-bottom: 31px;
    }

    .fetur {
        margin-top: 64px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .fetur_text {
        margin-top: 3px;
    }

    .fetur_grid {
        margin-top: 64px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    .section_benefit {
        margin-top: 96px;
        gap: 47px;
        padding-bottom: 81px;
    }

    .benefit_text {
        width: 347px;
    }

    .section_subscribe {
        padding-bottom: 110px;
        gap: 59px;
    }

    .subscribe_intersect_text {
        font-size: 18px;
    }

    .subscribe_title {
        line-height: 153.2%;
    }

    .subscribe_subtitle {
        font-size: 14px;
        line-height: 153.2%;
    }

    .subscribe_input {
        width: 210px;
    }

    .footer {
        padding: 43px 62px 9px;
        flex-direction: column-reverse;
        gap: 40px;
    }
}