* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

a {
    text-decoration: none;
}

.header {
    padding: 40px 55px;
}

.logo {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.logo_Be {
    color: #F25822;
}

.menu_link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.menu_home {
    color: #F25822;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text_main {
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 15px 35px;
    border: none;
    cursor: pointer;
}

.watch {
    color: #AAA;
    background: #fff;
    box-shadow: none;
}

.footer {
    padding-top: 97px;
    padding-bottom: 97px;
}